<div class="center jumbotron">
  <h1>Do What You Gotta Do</h1>
  <h2>
    A todo list application to suit your every need
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= image_tag("dowork.jpeg", alt: "do-what-you-gotta-do") %>
