<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home | Do What You Gotta Do - A Todo App</title>
</head>
<body>
  <h1>Do What You Gotta Do</h1>
  <p>A todo list application to suit your every need</p>
</body>
</html>
